USE [master]
GO
/****** Object:  Database [TrungTamNgoaiNgu]    Script Date: 12/24/2021 6:43:14 PM ******/
CREATE DATABASE [TrungTamNgoaiNgu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlttnn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TrungTamNgoaiNgu.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'qlttnn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TrungTamNgoaiNgu_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrungTamNgoaiNgu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrungTamNgoaiNgu]
GO
/****** Object:  Table [dbo].[DuThi]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DuThi](
	[MaKhoaThi] [int] NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[MaTrinhDo] [int] NOT NULL,
 CONSTRAINT [PK_DuThi] PRIMARY KEY CLUSTERED 
(
	[MaKhoaThi] ASC,
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GiamThi]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamThi](
	[MaPhong] [int] NOT NULL,
	[MaGiaoVien] [int] NOT NULL,
	[NhiemVu] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiamThi] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGiaoVien] [int] IDENTITY(1,1) NOT NULL,
	[HoGiaoVien] [nvarchar](max) NOT NULL,
	[TenGiaoVien] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoaThi]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaThi](
	[MaKhoaThi] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](max) NOT NULL,
	[NgayThi] [date] NOT NULL,
	[ChotSo] [bit] NOT NULL,
 CONSTRAINT [PK_KhoaThi_1] PRIMARY KEY CLUSTERED 
(
	[MaKhoaThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[CCCD] [varchar](12) NOT NULL,
	[HoNguoiDung] [nvarchar](max) NOT NULL,
	[TenNguoiDung] [nvarchar](max) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NoiSinh] [nvarchar](max) NOT NULL,
	[NgayCap] [date] NOT NULL,
	[NoiCap] [nvarchar](max) NOT NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
	[Email] [varchar](max) NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhongThi]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongThi](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](max) NOT NULL,
	[MaKhoaThi] [int] NOT NULL,
	[MaTrinhDo] [int] NOT NULL,
	[ChotSo] [bit] NOT NULL,
 CONSTRAINT [PK_PhongThi] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThiSinh]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThiSinh](
	[MaPhong] [int] NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[SBD] [varchar](5) NOT NULL,
	[DiemNghe] [int] NULL,
	[DiemDoc] [int] NULL,
	[DiemNoi] [int] NULL,
	[DiemViet] [int] NULL,
 CONSTRAINT [PK_ThiSinh] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrinhDo]    Script Date: 12/24/2021 6:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrinhDo](
	[MaTrinhDo] [int] IDENTITY(1,1) NOT NULL,
	[TenTrinhDo] [varchar](2) NOT NULL,
 CONSTRAINT [PK_TrinhDo] PRIMARY KEY CLUSTERED 
(
	[MaTrinhDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DuThi]  WITH CHECK ADD  CONSTRAINT [FK_DuThi_KhoaThi] FOREIGN KEY([MaKhoaThi])
REFERENCES [dbo].[KhoaThi] ([MaKhoaThi])
GO
ALTER TABLE [dbo].[DuThi] CHECK CONSTRAINT [FK_DuThi_KhoaThi]
GO
ALTER TABLE [dbo].[DuThi]  WITH CHECK ADD  CONSTRAINT [FK_DuThi_NguoiDung] FOREIGN KEY([CCCD])
REFERENCES [dbo].[NguoiDung] ([CCCD])
GO
ALTER TABLE [dbo].[DuThi] CHECK CONSTRAINT [FK_DuThi_NguoiDung]
GO
ALTER TABLE [dbo].[DuThi]  WITH CHECK ADD  CONSTRAINT [FK_DuThi_TrinhDo] FOREIGN KEY([MaTrinhDo])
REFERENCES [dbo].[TrinhDo] ([MaTrinhDo])
GO
ALTER TABLE [dbo].[DuThi] CHECK CONSTRAINT [FK_DuThi_TrinhDo]
GO
ALTER TABLE [dbo].[GiamThi]  WITH CHECK ADD  CONSTRAINT [FK_GiamThi_GiaoVien] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[GiaoVien] ([MaGiaoVien])
GO
ALTER TABLE [dbo].[GiamThi] CHECK CONSTRAINT [FK_GiamThi_GiaoVien]
GO
ALTER TABLE [dbo].[GiamThi]  WITH CHECK ADD  CONSTRAINT [FK_GiamThi_PhongThi] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongThi] ([MaPhong])
GO
ALTER TABLE [dbo].[GiamThi] CHECK CONSTRAINT [FK_GiamThi_PhongThi]
GO
ALTER TABLE [dbo].[PhongThi]  WITH CHECK ADD  CONSTRAINT [FK_PhongThi_KhoaThi] FOREIGN KEY([MaKhoaThi])
REFERENCES [dbo].[KhoaThi] ([MaKhoaThi])
GO
ALTER TABLE [dbo].[PhongThi] CHECK CONSTRAINT [FK_PhongThi_KhoaThi]
GO
ALTER TABLE [dbo].[PhongThi]  WITH CHECK ADD  CONSTRAINT [FK_PhongThi_TrinhDo] FOREIGN KEY([MaTrinhDo])
REFERENCES [dbo].[TrinhDo] ([MaTrinhDo])
GO
ALTER TABLE [dbo].[PhongThi] CHECK CONSTRAINT [FK_PhongThi_TrinhDo]
GO
ALTER TABLE [dbo].[ThiSinh]  WITH CHECK ADD  CONSTRAINT [FK_ThiSinh_NguoiDung] FOREIGN KEY([CCCD])
REFERENCES [dbo].[NguoiDung] ([CCCD])
GO
ALTER TABLE [dbo].[ThiSinh] CHECK CONSTRAINT [FK_ThiSinh_NguoiDung]
GO
ALTER TABLE [dbo].[ThiSinh]  WITH CHECK ADD  CONSTRAINT [FK_ThiSinh_PhongThi] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongThi] ([MaPhong])
GO
ALTER TABLE [dbo].[ThiSinh] CHECK CONSTRAINT [FK_ThiSinh_PhongThi]
GO
ALTER TABLE [dbo].[ThiSinh]  WITH CHECK ADD  CONSTRAINT [FK_ThiSinh_PhongThi1] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongThi] ([MaPhong])
GO
ALTER TABLE [dbo].[ThiSinh] CHECK CONSTRAINT [FK_ThiSinh_PhongThi1]
GO
USE [master]
GO
